/EPLab.web/EPLab.web/bin
/EPLab.web/EPLab.web/obj
/EPLab.web/EdgeDriverTest1/obj
/EPLab.web/EdgeDriverTest1/bin
/.vs
/EPLab.web/.vs
/EPLab.web/NUnitTestProject1/obj
/EPLab.web/NUnitTestProject1/bin
/EPLab.web/UnitTestProject1/obj
/EPLab.web/UnitTestProject1/bin
/EPLab.web/XUnitTestProject1/obj
/EPLab.web/XUnitTestProject1/bin
/EPLab.web/EPLab.dbService/obj
/EPLab.web/EPLab.dbService/bin
/EPLab.web/EPLab.entity/obj
/EPLab.web/EPLab.entity/bin
/EPLab.web/SQLserverPrj/obj
/EPLab.web/SQLserverPrj/bin
/EPLab.web/SQLserverPrj/*.user
/EPLab.web/EPLab.web/*.user
*.dbmdl
*.jfm
/EPLab.web/EPLab.model/obj
/EPLab.web/EPLab.model/bin
/EPLab.web/EPLab.web.fwk/bin
/EPLab.web/EPLab.web.fwk/obj
/EPLab.web/packages
/EPLab.web/EPLab.dbService.fwk/obj
/EPLab.web/EPLab.dbService.fwk/bin
/EPLab.web/EPlab.entity.fwk/obj
/EPLab.web/EPlab.entity.fwk/bin
/EPLab.web/EPlab.model.fwk/obj
/EPLab.web/EPlab.model.fwk/bin
