USE [EPLlabDB]
GO
/****** Object:  Table [dbo].[domainCases]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[domainCases](
	[domainCaseId] [uniqueidentifier] NOT NULL,
	[domainId] [uniqueidentifier] NOT NULL,
	[domainCaseName] [nvarchar](50) NOT NULL,
	[rangeMin] [nvarchar](50) NULL,
	[rangeMax] [nvarchar](50) NULL,
	[domainCaseDescription] [nvarchar](999) NULL,
 CONSTRAINT [PK_domainCases] PRIMARY KEY CLUSTERED 
(
	[domainId] ASC,
	[domainCaseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[domains]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[domains](
	[domainId] [uniqueidentifier] NOT NULL,
	[domainName] [varchar](50) NOT NULL,
	[domainDescription] [nvarchar](999) NULL,
	[basicType] [nvarchar](50) NULL,
	[isDomainCaseId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_domains] PRIMARY KEY CLUSTERED 
(
	[domainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expressions]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expressions](
	[expressionId] [uniqueidentifier] NOT NULL,
	[source] [varchar](50) NOT NULL,
	[expressionDesc] [nvarchar](999) NULL,
	[queryId] [uniqueidentifier] NULL,
	[operatorId] [uniqueidentifier] NOT NULL,
	[paraField1id] [uniqueidentifier] NULL,
	[para1externalName] [nvarchar](50) NULL,
	[subExpression1Id] [uniqueidentifier] NULL,
	[paraField2id] [uniqueidentifier] NULL,
	[para2externalName] [nvarchar](50) NULL,
	[subExpression2Id] [uniqueidentifier] NULL,
	[paraField3id] [uniqueidentifier] NULL,
	[para3externalName] [nvarchar](50) NULL,
	[subExpression3Id] [uniqueidentifier] NULL,
	[paraField4id] [uniqueidentifier] NULL,
	[para4externalName] [nvarchar](50) NULL,
	[subExpression4Id] [uniqueidentifier] NULL,
	[paraField5id] [uniqueidentifier] NULL,
	[para5externalName] [nvarchar](50) NULL,
	[subExpression5Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_expressions] PRIMARY KEY CLUSTERED 
(
	[expressionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fields]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fields](
	[fieldId] [uniqueidentifier] NOT NULL,
	[tableId] [uniqueidentifier] NOT NULL,
	[fieldName] [nvarchar](50) NOT NULL,
	[fieldDesc] [nvarchar](999) NULL,
	[primaryOrder] [int] NULL,
	[foreignFieldId] [uniqueidentifier] NULL,
	[defaultValue] [nvarchar](450) NULL,
	[domainId] [uniqueidentifier] NULL,
	[defaultOrder] [int] NULL,
 CONSTRAINT [PK_fields] PRIMARY KEY CLUSTERED 
(
	[fieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fieldText]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fieldText](
	[fieldTextId] [bigint] IDENTITY(1,1) NOT NULL,
	[rowId] [uniqueidentifier] NOT NULL,
	[fieldId] [uniqueidentifier] NOT NULL,
	[fieldStrMax] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_fieldText] PRIMARY KEY CLUSTERED 
(
	[fieldTextId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operators]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operators](
	[operatorId] [uniqueidentifier] NOT NULL,
	[source] [varchar](50) NOT NULL,
	[operatorName] [nvarchar](50) NOT NULL,
	[operatorDesc] [nvarchar](999) NULL,
	[stringInSourceCode] [nvarchar](50) NOT NULL,
	[isPrefix] [bit] NOT NULL,
	[paraNum] [int] NOT NULL,
 CONSTRAINT [PK_operators] PRIMARY KEY CLUSTERED 
(
	[source] ASC,
	[operatorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[queries]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[queries](
	[queryId] [uniqueidentifier] NOT NULL,
	[queryName] [nvarchar](50) NOT NULL,
	[queryDesc] [nvarchar](999) NULL,
	[tableId] [uniqueidentifier] NULL,
	[tableAlias] [nvarchar](50) NULL,
	[whereExpressionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_queries] PRIMARY KEY CLUSTERED 
(
	[queryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[queryFields]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[queryFields](
	[queryFieldId] [uniqueidentifier] NOT NULL,
	[queryId] [uniqueidentifier] NOT NULL,
	[fieldId] [uniqueidentifier] NULL,
	[previousNo] [smallint] NULL,
	[displayOrder] [int] NOT NULL,
	[orderByOrder] [int] NOT NULL,
	[orderByDesc] [bit] NOT NULL,
	[expressionId] [uniqueidentifier] NULL,
	[save2fieldId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_queryFields_1] PRIMARY KEY CLUSTERED 
(
	[queryFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tables]    Script Date: 2020/9/6 下午 08:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tables](
	[tableId] [uniqueidentifier] NOT NULL,
	[tableName] [nvarchar](50) NOT NULL,
	[tableDesc] [nvarchar](999) NULL,
 CONSTRAINT [PK_tables] PRIMARY KEY CLUSTERED 
(
	[tableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[fields] ([fieldId], [tableId], [fieldName], [fieldDesc], [primaryOrder], [foreignFieldId], [defaultValue], [domainId], [defaultOrder]) VALUES (N'2c2fb31b-8bf1-453a-9e8f-0c2f0553ab21', N'889cd40e-ba39-4985-a434-902e69ec8b7a', N'lastdate', N'String', NULL, NULL, NULL, NULL, 5)
INSERT [dbo].[fields] ([fieldId], [tableId], [fieldName], [fieldDesc], [primaryOrder], [foreignFieldId], [defaultValue], [domainId], [defaultOrder]) VALUES (N'7c59355d-fba7-4912-968a-111aa36eac00', N'889cd40e-ba39-4985-a434-902e69ec8b7a', N'lastSvolume', N'Decimal', NULL, NULL, NULL, NULL, 7)
INSERT [dbo].[fields] ([fieldId], [tableId], [fieldName], [fieldDesc], [primaryOrder], [foreignFieldId], [defaultValue], [domainId], [defaultOrder]) VALUES (N'ba34d2a1-0d05-408f-91e5-19d0747d0c65', N'ddc58962-c0ae-4327-9ed9-d9e516244431', N'dealtime', N'String', NULL, NULL, NULL, NULL, 3)
GO
INSERT [dbo].[operators] ([operatorId], [source], [operatorName], [operatorDesc], [stringInSourceCode], [isPrefix], [paraNum]) VALUES (N'547a6dd0-ec48-41e5-bc4f-dc029b97a0c9', N'sql', N'SQL_AND', NULL, N'and', 0, 2)
INSERT [dbo].[operators] ([operatorId], [source], [operatorName], [operatorDesc], [stringInSourceCode], [isPrefix], [paraNum]) VALUES (N'd425cdab-8d9b-46ea-b73a-a6f3ef281737', N'sql', N'SQL_EQUAL', NULL, N'=', 0, 2)
INSERT [dbo].[operators] ([operatorId], [source], [operatorName], [operatorDesc], [stringInSourceCode], [isPrefix], [paraNum]) VALUES (N'b618b843-9728-4507-a976-91d8e6af0fce', N'sql', N'SQL_GREATER', NULL, N'>', 0, 2)
GO
INSERT [dbo].[queries] ([queryId], [queryName], [queryDesc], [tableId], [tableAlias], [whereExpressionId]) VALUES (N'75732706-ee00-4ea4-be7a-44e7ed240177', N'QohlcBydate', N'query for table ohlc by dealdate', N'ddc58962-c0ae-4327-9ed9-d9e516244431', N'ohlc', N'e0d487f4-7f90-47ae-b2ce-a1b9c5fe88b6')
GO
INSERT [dbo].[queryFields] ([queryFieldId], [queryId], [fieldId], [previousNo], [displayOrder], [orderByOrder], [orderByDesc], [expressionId], [save2fieldId]) VALUES (N'6de98513-f587-47e6-b871-0998988c0914', N'75732706-ee00-4ea4-be7a-44e7ed240177', N'64042f6f-9c38-4d84-b66a-469a4be4f56e', 0, 6, 0, 0, NULL, NULL)
INSERT [dbo].[queryFields] ([queryFieldId], [queryId], [fieldId], [previousNo], [displayOrder], [orderByOrder], [orderByDesc], [expressionId], [save2fieldId]) VALUES (N'63c8d023-5f60-4b42-adcc-19235d1a6438', N'75732706-ee00-4ea4-be7a-44e7ed240177', N'b205442e-d2e5-48da-be28-5b5a23aa0dcc', 0, 0, 0, 0, NULL, NULL)
INSERT [dbo].[queryFields] ([queryFieldId], [queryId], [fieldId], [previousNo], [displayOrder], [orderByOrder], [orderByDesc], [expressionId], [save2fieldId]) VALUES (N'c173d2b0-6a04-4172-b2f0-385c5c86973b', N'75732706-ee00-4ea4-be7a-44e7ed240177', N'ba34d2a1-0d05-408f-91e5-19d0747d0c65', 0, 1, 1, 0, NULL, NULL)
GO
INSERT [dbo].[tables] ([tableId], [tableName], [tableDesc]) VALUES (N'2b36561f-53c8-42ca-a7a6-0b2de4c2e00e', N'testTable', N'test table desc')
INSERT [dbo].[tables] ([tableId], [tableName], [tableDesc]) VALUES (N'889cd40e-ba39-4985-a434-902e69ec8b7a', N'dealdates', NULL)
INSERT [dbo].[tables] ([tableId], [tableName], [tableDesc]) VALUES (N'ddc58962-c0ae-4327-9ed9-d9e516244431', N'ohlc', NULL)
GO
ALTER TABLE [dbo].[domainCases] ADD  CONSTRAINT [DF_domainCases_domainCaseId]  DEFAULT (newid()) FOR [domainCaseId]
GO
ALTER TABLE [dbo].[domains] ADD  CONSTRAINT [DF_domains_domainId]  DEFAULT (newid()) FOR [domainId]
GO
ALTER TABLE [dbo].[expressions] ADD  CONSTRAINT [DF_expressions_expressionId]  DEFAULT (newid()) FOR [expressionId]
GO
ALTER TABLE [dbo].[expressions] ADD  CONSTRAINT [DF_expressions_source]  DEFAULT ('sql server') FOR [source]
GO
ALTER TABLE [dbo].[fields] ADD  CONSTRAINT [DF_fields_fieldId]  DEFAULT (newid()) FOR [fieldId]
GO
ALTER TABLE [dbo].[fields] ADD  CONSTRAINT [DF_fields_defaultOrder]  DEFAULT ((0)) FOR [defaultOrder]
GO
ALTER TABLE [dbo].[fieldText] ADD  CONSTRAINT [DF_fieldText_fieldText]  DEFAULT ('') FOR [fieldStrMax]
GO
ALTER TABLE [dbo].[operators] ADD  CONSTRAINT [DF_operators_operatorId]  DEFAULT (newid()) FOR [operatorId]
GO
ALTER TABLE [dbo].[operators] ADD  CONSTRAINT [DF_operators_source]  DEFAULT ('sql server') FOR [source]
GO
ALTER TABLE [dbo].[operators] ADD  CONSTRAINT [DF_operators_isPrefix]  DEFAULT ((0)) FOR [isPrefix]
GO
ALTER TABLE [dbo].[operators] ADD  CONSTRAINT [DF_operators_paraNum]  DEFAULT ((0)) FOR [paraNum]
GO
ALTER TABLE [dbo].[queries] ADD  CONSTRAINT [DF_queries_queryId]  DEFAULT (newid()) FOR [queryId]
GO
ALTER TABLE [dbo].[queryFields] ADD  CONSTRAINT [DF_queryFields_queryFieldId]  DEFAULT (newid()) FOR [queryFieldId]
GO
ALTER TABLE [dbo].[queryFields] ADD  CONSTRAINT [DF_queryFields_previousNo]  DEFAULT ((0)) FOR [previousNo]
GO
ALTER TABLE [dbo].[queryFields] ADD  CONSTRAINT [DF_queryFields_displayOrder]  DEFAULT ((0)) FOR [displayOrder]
GO
ALTER TABLE [dbo].[queryFields] ADD  CONSTRAINT [DF_queryFields_orderByOrder]  DEFAULT ((0)) FOR [orderByOrder]
GO
ALTER TABLE [dbo].[queryFields] ADD  CONSTRAINT [DF_queryFields_orderByDesc]  DEFAULT ((0)) FOR [orderByDesc]
GO
ALTER TABLE [dbo].[tables] ADD  CONSTRAINT [DF_Table_1_tableStrId]  DEFAULT (newid()) FOR [tableId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'currently, sql for sql server, or c#' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'source'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para1''s fieldId if from field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'paraField1id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para1name if from external input' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'para1externalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para2''s fieldId if from field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'paraField2id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para2name if from external input' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'para2externalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para3''s fieldId if from field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'paraField3id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para3name if from external input' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'para3externalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para4''s fieldId if from field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'paraField4id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para4name if from external input' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'para4externalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para5''s fieldId if from field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'paraField5id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'para5name if from external input' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expressions', @level2type=N'COLUMN',@level2name=N'para5externalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'non null if it is one of the primary keys' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'fields', @level2type=N'COLUMN',@level2name=N'primaryOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'currently, sql for sql server, or c#' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'operators', @level2type=N'COLUMN',@level2name=N'source'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'in real code, operator lead (1), or (0) betweeen two parameters' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'operators', @level2type=N'COLUMN',@level2name=N'isPrefix'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'number of parameters, must > 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'operators', @level2type=N'COLUMN',@level2name=N'paraNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'it will be a new calculated field if it is not from original data (when fieldId,pre1fieldId,pre2fieldId all = null)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'queryFieldId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'對應資料庫中的欄位代碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'fieldId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'前面的fieldId, 要取query結果中的, 前第previousNo筆, 目前僅規劃0,1,2三種值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'previousNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'for display field, 0: hidden, >0 order by this field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'displayOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'for order by field, 0: hidden, >0 order by this field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'orderByOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 asc, 1 desc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'orderByDesc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'from expression of expressionId, if this is not from original field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'expressionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'這是若expressionId非null, 計算出來的值, 要存回哪個欄位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'queryFields', @level2type=N'COLUMN',@level2name=N'save2fieldId'
GO
